<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Shopping List</title>
</head>

<body>
    <div layout:fragment="body">
        <div class="container row">
            <form action="#" th:action="@{/add}" th:object="${shoppingList}" method="post" accept-charset="UTF-8" id="shoppingListForm">
                <div th:insert="fragments/container/container :: card(~{ :: .cardHeader}, ~{ :: .cardBody})">
                    <div class="cardHeader">
                        <div class="row">
                            <div class="col-sm-6">
                                <span th:text="#{shopping.list.name}"></span>
                                <input type="text" th:field=*{name}/>
                            </div>
                            <div class="col-sm-6">
                                <span th:text="#{shopping.list.date}"></span>
                                <input type="date" th:field="*{date}" />
                            </div>
                        </div>

                    </div>
                    <div class="cardBody">
                        <div class="row" th:each="item : *{items}">

                            <div class="col-sm-4">
                                Mennyiség
                                <input type="number" th:field="*{items[__${itemStat.index}__].quantity}" />
                            </div>

                            <div class="col-sm-4">
                                Típus
                                <select th:field="*{items[__${itemStat.index}__].unit}">
                                    <option th:each="unit : ${T(hu.bodys.demo.thymeleafDemo.dto.ShoppingUnit).values()}"
                                        th:value="${unit}">
                                        <th:block th:text="#{__${unit.messageKey}__}"></th:block>
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                Megnevezés
                                <input type="text" th:field="*{items[__${itemStat.index}__].name}"/>
                            </div>
                        </div>
                        <button type="submit" th:name="${'newItem'}">Add new Item</button>
                        <button type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</body>

</html>