<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Shopping List</title>
</head>

<body>
    <div layout:fragment="body">
        <div class="container row">
            <form action="#" th:action="@{/details}" th:object="${shoppingList}" method="post" accept-charset="UTF-8"
                id="shoppingListForm">
                <input type="text" th:field="*{selectedItemId}" id="selectedItemId">
                <input type="text" th:field="*{id}">
                <div th:insert="fragments/container/container :: card(~{ :: .cardHeader}, ~{ :: .cardBody})">
                    <div class="cardHeader">
                        <div class="row">
                            <div class="col-sm-6">
                                <div th:replace="fragments/inputField :: text(#{shopping.list.name}, 'name')"></div>
                            </div>
                            <div class="col-sm-6">
                                <div th:replace="fragments/inputField :: date(#{shopping.list.date}, 'date')"></div>

                            </div>
                        </div>

                    </div>
                    <div class="cardBody">
                        <div class="row mb-2" th:each="item : *{items}">
                            <div class="col-sm-3">
                                <input type="text" th:field="*{items[__${itemStat.index}__].id}">
                                <div
                                    th:replace="fragments/inputField :: number(#{shopping.list.item.quantity}, 'items[__${itemStat.index}__].quantity')">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div
                                    th:replace="fragments/inputField :: dropdown(#{shopping.list.item.type}, 'items[__${itemStat.index}__].unit', 'hu.bodys.demo.thymeleafDemo.dto.ShoppingUnit')">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div
                                    th:replace="fragments/inputField :: text(#{shopping.list.item.name}, 'items[__${itemStat.index}__].name')">
                                </div>
                            </div>
                            <div class="col-sm-3 text-end">
                                <th:block th:with="buttonName = ${'deleteItem'},
                                                   onClick = ${'setSelectedItemIdx(__${item.id}__)'}">
                                    <div th:replace="fragments/inputField :: submitButtonWithoutLabel('btn-danger', 'fa-solid fa-trash' )">
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="mt-2 text-end">
                            <th:block th:with="buttonName = ${'newItem'}">
                                <div th:replace="fragments/inputField :: submitButton('btn-primary', 'fa-solid fa-plus', #{button.add.new.item})">
                                </div>
                            </th:block>

                            <div th:replace="fragments/inputField :: submitButton('btn-success', 'fa-solid fa-floppy-disk', #{button.save})">
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</body>

</html>