<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Shopping List</title>
</head>

<body>
    <div layout:fragment="body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" th:each="shoppingList : ${shoppingLists}">
                    <div th:insert="fragments/container/container :: card(~{ :: .cardHeader}, ~{ :: .cardBody})">
                        <div class="cardHeader">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span th:text="${shoppingList.name}"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span th:text="${shoppingList.date}"></span>
                                </div>
                                <div class="col-sm-4 text-end">
                                    <div th:replace="fragments/inputField :: navigationButton(${'/details__${shoppingList.id}__'}, 'btn-light', 'fa-solid fa-pen')"></div>
                                    <div th:replace="fragments/inputField :: navigationButton(${'/remove__${shoppingList.id}__'}, 'btn-danger', 'fa-solid fa-trash')"></div>
                                </div>
                            </div>
                        </div>
                        <div class="cardBody" th:with="disabled = ${true}">
                            <div th:each="item : ${shoppingList.items}">
                                <div th:replace="fragments/inputField :: numberWithoutLabelAndNoBinding(${item.quantity})"></div>
                                <div th:replace="fragments/inputField :: dropdownWithoutLabelAndNoBinding('T(hu.bodys.demo.thymeleafDemo.dto.ShoppingUnit).values()', ${item.unit.name})"></div>
                                <label th:text="${item.name}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>