<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Shopping List</title>
</head>

<body>
    <div layout:fragment="body">
        <div class="container">
            <div class="row">
                
                    <div class="col-sm-4" th:each="shoppingList : ${shoppingLists}">
                        <div th:insert="fragments/container/container :: card(~{ :: .cardHeader}, ~{ :: .cardBody})">
                            <div class="cardHeader">
                                <span th:text="${shoppingList.name}"></span>
                                <span th:text="${shoppingList.date}"></span>
                                <a th:href="@{/details__${shoppingList.id}__}" class="btn btn-light">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </div>
                            <div class="cardBody">
                                <div th:each="item : ${shoppingList.items}">
                                    <input type="number" th:value="${item.quantity}" />
                                    <select>
                                        <option th:each="shoppingUnit : ${T(hu.bodys.demo.thymeleafDemo.dto.ShoppingUnit).values()}" 
                                            th:value="${shoppingUnit}" 
                                            th:text="#{__${shoppingUnit.messageKey}__}"
                                            th:attrappend="selected = ${#strings.equals(item.unit.name,shoppingUnit.name)?true:null}"></option>
                                    </select>
                                    <label th:text="${item.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

    </div>
</body>

</html>