<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Shopping List</title>
</head>

<body>
    <div layout:fragment="body">
        <div class="container">
            <div class="row">
                
                    <div class="col-sm-4" th:each="shoppingList : ${shoppingLists}">
                        <div th:insert="fragments/container/container :: card(~{ :: .cardHeader}, ~{ :: .cardBody})">
                            <div class="cardHeader">
                                <span th:text="${shoppingList.name}"></span>
                                <span th:text="${shoppingList.date}"></span>
                            </div>
                            <div class="cardBody">
                                <div th:each="item : ${shoppingList.items}">
                                    <input type="number" th:value="${item.quantity}" />
                                    <label th:text="${item.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

    </div>
</body>

</html>